    <div
  id="map"
  style="width: 100%;height: 300px;clear:both;overflow: auto;display:block;position:relative"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

<div class="search-container mt-3">

  <%= render 'shared/form_prefs' %>
</div>
