<h1>Itineraries#show</h1>

<!-- Map Markers -->
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

<p>Find me in app/views/itineraries/index.html.erb</p>

