<footer class="page-footer">

<!-- Team Avatars -->
    <div>Made with ♥ by Team InstaAwesome
      <img class="avatar-footer" src="https://avatars2.githubusercontent.com/u/43494893?v=4"
      alt="Dorothy avatar">
      <img class="avatar-footer" src="https://avatars2.githubusercontent.com/u/31517953?v=4"
      alt="Simone avatar">
      <img class="avatar-footer" src="https://avatars0.githubusercontent.com/u/48829905?v=4"
      alt="Patricia avatar" >
      <img class="avatar-footer" src="https://avatars3.githubusercontent.com/u/32380532?v=4"
      alt="John avatar" >
    </div>

<!-- Copyright -->
  <div class="footer-copyright text-center py-3">© Le Wagon 🇵🇹 Batch #243</div>

</footer>
