<footer class="page-footer">

  <!-- Team Avatars -->
  <div class="img-group">Made with ♥ by Team InstaAwesome &ensp;

<!--       <div class="avatar-footer">
        <div class="hovereffect">
          <img class="img-responsive" src="https://miketricking.github.io/bootstrap-image-hover/images/p26.jpg" alt="">
          <div class="overlay">
            <h2>Lead</h2>
            <p>
              <a href="#">Lead</a>
            </p>
          </div>
        </div>
      </div> -->

      <div class="avatar-footer">
        <div class="hovereffect">
          <img class="img-responsive" src="https://avatars2.githubusercontent.com/u/43494893?v=4"
          alt="Dorothy headshot">
          <div class="overlay"></div>
          <h2>Lead</h2>
          <p>
            <a href="#">Lead</a>
          </p>
        </div>
      </div>
      &ensp;
      <div class="avatar-footer">
        <div class="hovereffect">
          <img class="img-fluid" src="https://avatars2.githubusercontent.com/u/31517953?v=4"
          alt="Simone headshot">
          <div class="overlay"></div>
        </div>
      </div>
      &ensp;
      <div class="avatar-footer">
        <div class="hovereffect">
          <img class="img-fluid" src="https://avatars0.githubusercontent.com/u/48829905?v=4"
          alt="Patricia headshot" >
          <div class="overlay"></div>
        </div>
      </div>
      &ensp;
      <div class="avatar-footer">
        <div class="hovereffect">
          <img class="img-fluid" src="https://avatars3.githubusercontent.com/u/32380532?v=4"
          alt="John headshot" >
          <div class="overlay"></div>
        </div>
      </div>
    </div>


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Le Wagon 🇵🇹 Batch #243</div>

  </footer>
