<h3>User Itinerary Preferences</h3>

<div id="preferences-form">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Max. Distance</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Choose Search Radius (in Kilometers)</option>
      <option value="1">1 km</option>
      <option value="2">2 km</option>
      <option value="3">3 km</option>
      <option value="4">4 km</option>
      <option value="5">5 km</option>
      <option value="6">10 km</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect02">Your Availability</label>
    </div>
    <select class="custom-select" id="inputGroupSelect02">
      <option selected>Choose Time Available (in Hours)</option>
      <option value="1">2 hrs</option>
      <option value="2">4 hrs</option>
      <option value="3">6 hrs</option>
      <option value="4">8 hrs</option>
    </select>
  </div>
</div>
