  <div class="content-slider">
    <div class="slider">
      <div class="mask">
        <ul>
          <li class="anim1">
            <div class="quote">This time, like all times, is a very good one, if we but know what to do with it.</div>
            <div class="source">- Ralph Waldo Emerson</div>
          </li>
          <li class="anim2">
            <div class="quote">If you don’t know where you are going, you’ll end up someplace else.</div>
            <div class="source">- Yogi Berra</div>
          </li>
          <li class="anim3">
            <div class="quote">Dost thou love life? Then do not squander time, for that is the stuff life is made of.</div>
            <div class="source">- Benjamin Franklin</div>
          </li>
          <li class="anim4">
            <div class="quote">The key is in not spending time, but in investing it. </div>
            <div class="source">- Stephen R. Covey</div>
          </li>
          <li class="anim5">
            <div class="quote">The bad news is time flies. The good news is you're the pilot."</div>
            <div class="source">- Michael Altshuler</div>
          </li>
          <li class="anim6">
            <div class="quote">You’re writing the story of your life one moment at a time. </div>
            <div class="source">- Howard Martin</div>
          </li>
          <li class="anim7">
            <div class="quote">It is not enough to be busy...The question is: what are we busy about?</div>
            <div class="source">- Henry David Thoreau</div>
          </li>
          <li class="anim8">
            <div class="quote">Passion is energy. Feel the power that comes from focusing on what excites you.</div>
            <div class="source">- Oprah Winfrey</div>
          </li>
          <li class="anim9">
            <div class="quote">A real value of our lives is in how we use our time as we journey.</div>
            <div class="source">- Author Unknown</div>
          </li>
          <li class="anim10">
            <div class="quote">People who use time wisely spend it on activities that advance the overall purpose of their life.</div>
            <div class="source">- John C. Maxwell</div>
          </li>
          <li class="anim11">
            <div class="quote">Time isn’t the main thing. It’s the only thing.</div>
            <div class="source">- Miles Davis</div>
          </li>
          <li class="anim12">
            <div class="quote">Ordinary people think merely of spending time. Great people think of using it. </div>
            <div class="source">- Author Unknown</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
