<div class="container p-3 m-2">
  <h2><%= @event.name %></h2>
  <h5><%= '⭐️' * @event.rating.to_i %></h5>
  <h5><%= @event.address %></h5>
  <div>
    <p><%= @event.description %></p>
  </div>
  <div class="event-images">
  </div>
</div>