.cards {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.card-category {
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  display: flex;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  opacity: 0.7;
}

.card-category p {
  position: absolute;
  bottom: 0;
  left: 8px;
  margin-bottom: 5px;
  line-height: 30px;
}

.card-category:hover {
  opacity: 1;
}

.card-category.active {
  opacity: 1;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
