
.event-show {
  margin: 0 auto;
  padding: 10px;
}

.card-event {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin-top: 20px;
}

.card-event-image img {
  height: 200px;
  object-fit: cover;
  width: auto;
  margin-bottom: 10px;
}

// .card-event > a > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

.card-event h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-event h3 {
  font-size: 18px;
  margin: 0;
}

.card-event p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-event-infos {
}


.event-details {
  margin-top: 10px;
}

.event {
  background-color: white;
  padding: 10px;
  border: 1px rgba(0,0,0,0.2) solid;
}

.event-images > img {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
  height: 100%;
  border-radius: 10px;
}
