.itin-show {
  width: 320px;
  margin: 0 auto;
  align-text: center;
}

.itin-images {
  height: 180px;
  width: 100%;
  opacity: 0.8;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: white;
  background-color: $link;

  .name {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    top: 50px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.9);

  }

  .created {
    font-size: 14px;
    position: absolute;
    top: 150px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }
}

.itin-images a {
  color: white;
}

.itin-images:hover {
  opacity: 1;
}

.itin-images img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}
