.mapboxgl-popup {
 width: 250px;
}

.mapboxgl-popup-content {
  background-color: rgba(255,255,255,0.8) !important;
  text-align: center;
  color: $gray;
  font-family: 'Noto Sans HK', sans-serif;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  line-height: 100%;

  .start-end-font {
    color: $red;
    font-size: 13px;
    font-weight: 800;
  }
}
