.mapboxgl-popup {
 width: 250px;
 opacity: .7;
}

.mapboxgl-popup-content {
  text-align: center;
  color: $red;
  font-family: 'Noto Sans HK', sans-serif;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  line-height: 110%;

  .start-end-font {
    color: $red;
    font-size: 13px;
    font-weight: 800;
  }
}
