.mapboxgl-popup {
 width: 250px;
 opacity: .7;
 position: relative;
}

.mapboxgl-popup-content {
  text-align: center;
  color: black;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  .start-end-font {
    font-size: 14px;
  }

  // .mapboxgl-popup-close-button {
  //   position: absolute;
  //   top: 0px;
  //   right: 0px;
  // }

}
