.search-container {
  margin: 0 auto;
  width: 320px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.search-form-control {
  color: rgba(0,0,0,0.08);
  position: relative;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .i {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 25px;
}

.search-form-control .form-control:focus {
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-flat {
  width: 100%;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF7E67;
  transition: background 0.3s ease;
  font-size: 22px;
  margin-top: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-event {
  width: 100%;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF7E67;
  transition: background 0.3s ease;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-event:hover {
  background: #F17761;
  color: white;
}

.btn-flat:hover {
  background: #F17761;
  color: white;
}

.search-wrapper {
  margin-bottom: 1rem;

  .form-group {
    margin-bottom: 0;
  }
}
